<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="NewebPay_MerchantID" value="MS156612885" />
	<add key="NewebPay_HashKey" value="QmeC8yAFBD3UNUQzoTRtIh7t4hgVhA0X" />
	<add key="NewebPay_HashIV" value="QmeC8yAFBD3UNUQzoTRtIh7t4hgVhA0X" />
	<add key="NewebPay_ReturnURL" value="https://yourdomain.com/payment/return" />
	<add key="NewebPay_NotifyURL" value="https://yourdomain.com/payment/notify" />
	<add key="NewebPay_ApiUrl_Test" value="https://ccore.newebpay.com/MPG/mpg_gateway" />
</appSettings>